{% extends 'base.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/mine.css'%}">
{% endblock style %}
{% block content %} {% load static %}
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <!-- OVERVIEW -->
      <div class="panel-body dark-l orange-border">
        <div class="panel-body">
          <h1 class="orange livetext-mega">Coffee Prices</h1>
          <h3 class="white">${{MeanPrice}} Per Tonne</h3>
          <p>Coffee prices in the market</p>
          <canvas id="prices" height="100"></canvas>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
      <div class="dark orange-border panel-body">
        <h2 class="orange livetext-mega">suggested factories</h2>
        {%for factory in factories%}
        <div class="panel-body dark-l selector-dark">
          <img src="{{factory.factory_logo.url}}" alt="logo" class="img-circle"
            style="width: 80px; height: 80px; margin-right:10px; float: left;">
          <a href="{%url 'transactions:view_factory' factory.pk%}" class="white">{{factory.factory_name}}</a>
          <div class="dark">
            <span>{{factory.country}}</span>|
            <span>{{factory.region}}</span><br>
          </div>
          <span>
            {%if factory.rating == 0%}
            rating: Low
            {%elif factory.rating == 1%}
            rating: fair
            {%elif factory.rating == 2%}
            rating: good
            {%else%}
            rating: platinum
            {%endif%}
          </span>
        </div><br>
        {%endfor%}

        <a href="{% url 'accounts:factories'%}" class="btn btn-success">Show All factories</a>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- RECENT PURCHASES -->
          <div class="dark-l panel-body orange-border">
            <div class="panel-heading">
              <h3 class="orange livetext-mega">Recent Transactions</h3>
              <div class="right">
                </button>
              </div>
            </div>
            <div class="panel-body no-padding">
              <table class="table ">
                <thead>
                  <tr>
                    <th class="small">Order No.</th>
                    <th class="small">Name</th>
                    <th class="small">Amount</th>
                    <th class="small">Date &amp; Time</th>
                    <th class="small">Status</th>
                    <th class="small">Transaction Validity</th>
                    <th class="small">Transaction Hash</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in order_queryset %}
                  <tr>
                    <td><a href="/transactions/view_order/{{order.id}}/">{{order.id}}</a></td>
                    <td>{{order.employee.factory.factory_name}}</td>
                    <td>{{order.amount}} tonnes</td>
                    <td>{{order.date_placed}}</td>
                    {% if order.status == 0 %}
                    <td class="small"><span class="label label-warning">Pending</span></td>
                    {% elif order.status == 1 %}
                    <td class="small"><span class="label label-success">Accepted</span></td>
                    {% elif order.status == 2 %}
                    <td class="small"><span class="label label-success">Processed</span></td>
                    {% elif order.status == 3 %}
                    <td class="small"><span class="label label-success">Completed</span></td>
                    {% endif %}
                    {%if order.chain_valid%}
                    <td class="small">
                      <span class="label-success label">Trusted</span>
                    </td>
                    {%else%}
                    <td class="small">
                      <span class="label-error label">Suspicius</span>
                    </td>
                    {%endif%}

                    <td>
                      <small class="no-padding no-margin">{{order.order_hash}}</small>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="panel-body dark">
              <div class="row">
                <div class="col-md-6">
                  <span class="panel-note"><i class="fa fa-clock-o"></i> Last 24 hours</span>
                </div>
              </div>
            </div>
          </div>
          <!-- END RECENT PURCHASES -->

        </div>
      </div><br> <br>
      <div class="panel-body dark-l orange-border">
        <div class="metric dark">
          <h4 class="orange">Orders Placed</h4>
          <div class="panel-body"><span class="white">{{orders}} order(s)</span><br></div>
          <hr>
          <div class="dark-l panel-body"><span class="white">{{pending}} pending</span><br></div><br>
          <div class="dark-l panel-body"><span class="white">{{confirmed}} Accepted</span><br></div><br>
          <div class="dark-l panel-body"><span class="white">{{processed}} processed</span><br></div><br>
          <div class="dark-l panel-body"><span class="white">
              <span class="dot bg-success"></span>
              <span>
                {{completed}}
                Completed
              </span>
          </div>
        </div>
      </div><br>
      <div class="metric dark">
        <h4 class="white">Actions</h4>
        <a href="#">View all Transactions</a><br>
        <a href="#">View all Accepted transactions</a><br>
        <a href="#">Notifications</a>
        <hr>
        <h4 class="white">Common</h4>
        <a href="#">Print Transaction report</a><br>
        <a href="#">Trace order</a><br>
        <a href="#">Blog</a><br>
        <a href="#">Feedback</a>
      </div>
    </div>
    <br>

    <!-- END OVERVIEW -->
  </div>
</div>
</div>
</div>
<!-- END MAIN CONTENT -->
</div>
{% endblock content %}
{% block js %}
<script src="{%static 'node_modules/chart.js/dist/Chart.js'%}"></script>
<script>
  months = []
  prices = []
  factories = []
  amounts = []
</script>
{%for month in months_price%}
<script>
  included = false
  months.forEach(element =>
  {
    if (element === "{{month}}")
    {
      included = true
    }
  });
  if (!included)
  {

    months.push("{{month}}")
  }
</script>
{%endfor%}
{%for price in prices%}
<script>
  prices.push("{{price}}")
</script>
{%endfor%}
<script src="{% static 'toastr/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'toastr/toastr.min.js' %}"></script>
<script>
  var notificationSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/transactions/notifications/{{user.id}}/"
  );
  notificationSocket.onmessage = function (e)
  {
    var receivedMessage = JSON.parse(e.data);

    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }

    toastr["info"](receivedMessage['content'], "new message received from " + receivedMessage['username'] +
      ' order number ' + receivedMessage['order_id'])

  }

  var ctx = document.getElementById('prices').getContext('2d');
  months.push("")
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: months,
      datasets: [{
        label: 'Price line in real time',
        data: prices,
        backgroundColor: [
          'rgba(100,100,100,0.2)',
        ],
        borderColor: [
          'rgba(226, 109, 6, 1)'
        ],
        borderWidth: 3
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      }
    }
  });
</script>
{% endblock js %}